* {
    box-sizing : border-box;
}

html {
    margin : 0;
    padding : 0;
    height : 95vh;
}

body {
    margin : 0;
    padding : .3rem;
    height : 98vh;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    border-radius : .3rem;
    background-color : #eee;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

nav li {
        display : inline-block;
        margin : 0 2rem;
    }

.logo {
    max-width : 100px;
    border-radius : .4rem;
}

.navlinks {
    text-align : center;
}

.navlinks ul {
    list-style-type : none;
    padding : 0;
    font-size : 1.3rem;
    line-height : 2rem;
}

a {
    text-decoration : none;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    color : #000;
}

a:hover {
    color : rgb(125,125,125);
}

.disabled {
    color : #bbb;
    cursor : initial;
    text-decoration : none;
}

.disabled:hover {
        color : #bbb;
}

.solidborder {
    margin : 0 auto;
    height: 0;
    width : 88%;
    border-top : .5px solid #000;
}

.flexcontainer {
    display : flex;
    justify-content : center;
}

.homecontainer img {
    display : block;
    max-width : 70%;
    margin : 2rem auto;
}

.footerlinks {
    display : flex;
    justify-content : space-around;
}

footer {
    padding : .8rem;
}

footer span {
    display : block;
    max-width : 14rem;
    text-align : center;
}



/* ACTIVITE */

article {
width : 30%;
margin : 2rem auto;
background-color : #bdc;
border-radius : .5rem;
border : 1px solid #000;
padding : 2rem;
}


/* GALERIE */

#portfolio {
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-gap: 20px;
margin: 3rem auto;
}

#portfolio div {
border : .5px solid #000;
display: flex;
border-radius: .5%;
opacity: 0.75;
transition: all ease-in-out 300ms;
justify-content: center;
align-items: center;
text-align: center;
background-repeat : no-repeat;
background-size: cover;
background-position: center;
}

#portfolio div:hover {
opacity: 1;
}

#portfolio div h4 {
transition: all ease-in-out 360ms;
}

#portfolio div:hover > h4 {
background-color: rgba(139, 37, 139, .0);
color: rgba(255, 255, 255, .0);
text-shadow: none;
}

h4 {
border-radius: 3%;
padding: 1.3%;
color: #eee;
font-size: 3em;
text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.small {
grid-row: span 1;
grid-column: span 1;
}

.small-large {
grid-row: span 1;
grid-column: span 2;
}

.medium {
grid-row: span 2;
grid-column: span 2;
}

.paysage {
grid-row: span 2;
grid-column: span 5;
}

.portrait {
grid-row: span 3;
grid-column: span 3;
}

.std {
grid-row : span 2;
grid-column : span 4;
}

.long {
grid-row: span 5;
grid-column: span 2;
}

.long-sm {
grid-row : span 2;
grid-column : span 2;
}

.xl {
grid-row: span 3;
grid-column: span 6;
}

.first {
background-image: url("./images/08.jpg");
}

.second {
background-image: url("./images/05.jpg");
}

.third {
background-image: url("./images/07.jpg");
}

.fourth {
background-image: url("./images/06.jpg");
}

.fifth {
background-image: url("./images/02.jpg");
}

.sixth {
background-image: url("./images/09.jpg");
}


/* CONTACT */


