* {
    box-sizing : border-box;
}

html {
    margin : 0;
    padding : 0;
    height : 95vh;
}

body {
    min-width : 950px;
    margin : 0;
    padding : .3rem;
    height : 98vh;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    border-radius : .3rem;
    background-color : #ccc;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

nav li {
        display : inline-block;
        margin : 0 2rem;
    }

.logo {
    max-width : 100px;
    border-radius : .4rem;
}

.navlinks {
    text-align : center;
}

.navlinks ul {
    list-style-type : none;
    padding : 0;
    font-size : 1.3rem;
    line-height : 2rem;
}

a {
    text-decoration : none;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
    color : #000;
}

a:hover {
    color : rgb(125,125,125);
}

.disabled {
    color : #bbb;
    cursor : initial;
    text-decoration : none;
}

.disabled:hover {
        color : #bbb;
}

.solidborder {
    margin : 0 auto;
    height: 0;
    width : 88%;
    border-top : .5px solid #000;
}

.flexcontainer {
    display : flex;
    justify-content : center;
}

.homecontainer img {
    display : block;
    max-width : 70%;
    margin : 2rem auto;
}

.footerlinks {
    display : flex;
    justify-content : space-around;
}

footer {
    padding : .8rem;
}

footer span {
    display : block;
    max-width : 14rem;
    text-align : center;
}



/* ACTIVITE */

article {
width : 30%;
margin : 2rem auto;
background-color : #bdc;
border-radius : .5rem;
border : 1px solid #000;
padding : 2rem;
}


/* GALERIE */

#portfolio {
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-gap: 20px;
margin: 3rem auto;
}

#portfolio div {
border : .5px solid #000;
display: flex;
border-radius: .5%;
opacity: 0.75;
transition: all ease-in-out 300ms;
justify-content: center;
align-items: center;
text-align: center;
background-repeat : no-repeat;
background-size: cover;
background-position: center;
}

#portfolio div:hover {
opacity: 1;
}

#portfolio div h4 {
transition: all ease-in-out 360ms;
}

#portfolio div:hover > h4 {
background-color: rgba(139, 37, 139, .0);
color: rgba(255, 255, 255, .0);
text-shadow: none;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
display : block;
color: #eee;
text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

h1 {
font-size : 4rem;
}

h2 {
font-size : 3.75rem;
}

h3 {
font-size : 3.5rem;
}

h4 {
font-size : 3rem;
}

h5 {
font-size : 2.5rem;
}

h6 {
font-size : 2rem;
}

h7 {
font-size : 1.5rem;
}

h8 {
font-size : 1.25rem;
}

.small {
grid-row: span 1;
grid-column: span 1;
}

.small-large {
grid-row: span 1;
grid-column: span 2;
}

.medium {
grid-row: span 2;
grid-column: span 2;
}

.paysage {
grid-row: span 2;
grid-column: span 5;
}

.portrait {
grid-row: span 3;
grid-column: span 3;
}

.std {
grid-row : span 2;
grid-column : span 4;
}

.long {
grid-row: span 5;
grid-column: span 2;
}

.long-sm {
grid-row : span 2;
grid-column : span 2;
}

.xl {
grid-row: span 3;
grid-column: span 6;
}

.first {
background-image: url("./images/08.jpg");
}

.second {
background-image: url("./images/05.jpg");
}

.third {
background-image: url("./images/07.jpg");
}

.fourth {
background-image: url("./images/06.jpg");
}

.fifth {
background-image: url("./images/02.jpg");
}

.sixth {
background-image: url("./images/09.jpg");
}


/* CONTACT */

/* COMPONENTS */

.components_wrapper {
max-width : 30%;
margin : 0 1rem;
}

button {
display : block;
padding : .3rem 1rem;
font-size : 1.2rem;
border-radius : .4rem;
margin : .3rem auto;
}

button:hover {
cursor : pointer;
}

.card {
border : 2px solid ;
border-radius : .4rem;
display : flex;
flex-direction : column;
align-items : center;
padding : .5rem;
margin : .5rem auto;
}

.card_header {
width : 100%;
display : flex;
align-items : center;
}

.card_header img {
position : absolute;
border-radius : .2rem;
border : 1px solid green;
}

.card h5 {
margin : .5rem auto;
font-size : 1.3rem;
}

ul {
border-radius : .2rem;
list-style-type : none;
padding : 0;
}

ul.primary li {
padding : .2rem;
}

ul.secondary li {
padding : .2rem;
}

input, textarea {
margin : .5rem;
display : block;
border : 1px solid green;
resize : none;
}

.popover, .rightpopover{
border-radius : .2rem;
display : none;
position : absolute;
background-color : green;
color : #fff;
padding : 1rem;
}

.toppopover, .leftpopover {
border-radius : .2rem;
display : none;
background-color : green;
color : #fff;
padding : 1rem;
width : 300px;
}

.toppopover_div, .leftpopover_div{
width : 79.45px;
display : flex;
flex-direction : column-reverse;
position : relative;
}

.popover_link:hover + .popover, .popover_link:hover + br + .popover {
display : block;
border : 1px solid purple;
}

.toppopover_link, .leftpopover_link {
position : relative;
z-index : -1;
}

.toppopover_div:hover, .leftpopover_div:hover {
cursor : pointer;
}

.toppopover_div:hover > .toppopover{
display : block;
position : absolute;
bottom : 100%;
border : 1px solid purple;
}

.leftpopover_div:hover > .leftpopover {
display : inline-block;
position : absolute;
top : 0;
right : 100%;
border : 1px solid purple;
}


.popover_link:hover + .rightpopover {
display : inline-block;
border : 1px solid purple;
}

.primary {
color : #fff;
background-color : green;
border : 2px solid #fff;
}

button.primary:hover {
color : green;
background-color : #fff;
border : 2px solid green;
}

ul.primary li:hover {
color : green;
background-color : #fff;
}

.secondary {
color : green;
background-color : #fff;
border : 2px solid green;
}

button.secondary:hover {
color : #fff;
background-color : green;
border : 2px solid #fff;
}

ul.secondary li:hover {
color : #fff;
background-color : green;
}
