* {
    box-sizing : border-box;
}

html {
    margin : 0;
    padding : .5rem;
    height : 95vh;
    background-color : #fff;
}

body {
    margin : 0;
    padding : .3rem;
    height : 98vh;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    border-radius : .3rem;
    background-color : #eee;
}

nav {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

nav li {
        display : inline-block;
        margin : 0 2rem;
    }

.logo {
    max-width : 100px;
    border-radius : .4rem;
}

.navlinks {
    text-align : center;
}

.navlinks ul {
    list-style-type : none;
    padding : 0;
    font-size : 1.3rem;
    line-height : 2rem;
}

.navlinks ul li a {
    text-decoration : none;
    color : #0a0aa0;
}

.navlinks ul li a:hover {
    text-shadow: 7px 5px 5px #0a0aa0;
    color : #000;
}

.disabled {
    color : #bbb !important;
    cursor : initial !important;
    text-decoration : none !important;
}

.disabled:hover {
    text-shadow: 0 0 0 #fff !important;
}

.solidborder {
    margin : 0 auto;
    height: 0;
    width : 88%;
    border-top : 2px solid #0a0aa0;
}

/*  CONTAINER VAUT POUR LA PAGE ACTIVITE ET HOMECONTAINER POUR LA HOMEPAGE  */
.container {
    width : 100%;
}

.homecontainer {
    width : 100%;
}

.container img {
    display : block;
    max-width : 70%;
    margin : 2rem auto;
}

.footerlinks {
    display : flex;
    justify-content : space-around;
}

footer {
    padding : .8rem;
}

footer span {
    display : block;
    max-width : 14rem;
    text-align : center;
}

footer span a {
    text-decoration : none;
    color : #0a0aa0;
}

footer span a:hover {
    color : #0af;
}





#wrapper {
height: 90%;
margin: auto;
padding: 2%;
display: flex;
}

#portfolio {
display: grid;
height: 100%;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-gap: 20px;
margin: auto;
}

#portfolio div {
display: flex;
border-radius: .5%;
opacity: 0.75;
transition: all ease-in-out 300ms;
justify-content: center;
align-items: center;
text-align: center;
}

#portfolio div:hover {
opacity: 1;
}

#portfolio div h4 {
transition: all ease-in-out 360ms;
}

#portfolio div:hover > h4 {
background-color: rgba(139, 37, 139, .0);
color: rgba(255, 255, 255, .0);
text-shadow: none;
}

h4 {
border-radius: 3%;
padding: 1.3%;
color: #eee;
font-size: 3em;
text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.small {
grid-row: span 1;
grid-column: span 1;
}

.small-large {
grid-row: span 1;
grid-column: span 2;
}

.medium {
grid-row: span 2;
grid-column: span 2;
}

.paysage {
grid-row: span 2;
grid-column: span 5;
}

.portrait {
grid-row: span 3;
grid-column: span 3;
}

.long {
grid-row: span 5;
grid-column: span 2;
}

.long-sm {
grid-row : span 2;
grid-column : span 2;
}

.xl {
grid-row: span 3;
grid-column: span 6;
}

.first {
background-image: url("./images/08.jpg");
background-size: cover;
background-position: center;
}

.second {
background-image: url("./images/05.jpg");
background-size: cover;
background-position: center;
}

.third {
background-image: url("./images/07.jpg");
background-size: cover;
background-position: center;
}

.fourth {
background-image: url("./images/06.jpg");
background-size: cover;
background-position: center;
}

.fifth {
background-image: url("./images/02.jpg");
background-size: cover;
background-position: center;
}

.sixth {
background-image: url("./images/09.jpg");
background-size: cover;
background-position: center;
}
